/* main coding */

*{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#clonedButton{
    position: absolute;
    background: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid_container{
    display: grid;
    grid-template-columns: 6% 10% 10% 20% 50%;
    grid-template-rows: 20vb 15vb 20vb 10vb 10vb 10vb 11vb;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    gap: 1%;
    background-color: rgb(255, 255, 255);
}

.grid-item{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    text-align: start;
}



.item-phone{
    background-image: url(../images_icons/iphone.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 5;
    grid-row: span 7;
    background-color: #87cefa;
    transition: 0.5s;
}

.item-phone-mini{
    display: none;
    background-image: url(../images_icons/iphone.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: lightskyblue;
    transition: 0.5s;
}

.item-phone:hover, .item-phone-mini:hover{
    animation-name: phone;
    animation-duration: 6s;
}

.item-logo{
    display: flex;
    grid-column: 2;
    justify-items: start;
}

.item-header{
    grid-column: 2/ span 3;
    grid-row: 3;
    font-weight: bold;
    font-size: 40px;
}

.text-small{
    grid-row: 4;
    grid-column: 2/ span 3;
    font-size: 20px;
}

.icon-google{
    grid-column: 2;
    grid-row: 5;
    height: 43px;
    width: 128px;
}

svg{
    height: 43px;
    width: 128px;
}

.icon-apple{
    grid-column: 3;
    grid-row: 5;
    border: none;
    background-color: white;
    width: 128px;
    height: 43px;
}

.background{
    background-color: black;
}

.icon-apple{
    animation-name: apple;
    animation-duration: infinite;
}
.text-smaller{
    font-size:15px;
    grid-column: 2/ span 3;
    grid-row: 6;
}

/* animaties en bewegengen */

.item-logo:hover{
    animation-name: logo;
    animation-duration: 0.1s;

}

.icon-google:hover{
    grid-row: 2;

}

@keyframes logo {
    from {grid-column: 2; color: yellow;}
    to {grid-column: 4; color: greenyellow;}
}

@keyframes apple{
    from {background-color: yellow;}
    to {background-color: blue;}
}

@keyframes phone{
    25% {background-color: white;}
    50% {background-color: green;}
    75% {background-color: yellow;}
    100% {background-color: black;}
}